github "ReactiveX/RxSwift" == 6.2.0
github "RxSwiftCommunity/RxSwiftExt" == 6.1.0
github "apollographql/apollo-ios" == 0.48.0
github "SnapKit/SnapKit" == 5.0.1
github "Swinject/Swinject" == 2.7.1
github "segmentio/analytics-ios" == 4.1.5
